.wrapper {
    a{
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
            width: 24px;
            height: 24px;
            color: #00000099;
        }

        h3 {
            margin-left: 8px;
            font-size: 14px;
            color: #000000E6;
        }
    }

}


