.wrapper {
    position: absolute;
    right: 0px;
    width: 264px;
    background-color: white;
    max-height: calc(100vh - 64px);
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%);
    transition: visibility 0s linear 167ms,opacity 167ms cubic-bezier(.4,0,1,1) 0s,z-index 0s linear 167ms;
    top: calc(100% + 8px);
}


.header {
    display: flex;
    flex-direction: column;
}
.info {
    margin: 8px;
    display: flex;
    align-items: center;
}

.avatar {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    margin-right: 8px;
}

.name {

}

.from {

}

.profile_btn {
    text-decoration: none;
    border: 1px solid #0a66c2;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-weight: 500;
    cursor: pointer;
    border-radius: 999px;
    box-sizing: border-box;
    padding: 2px 0 ;
    margin: 0 8px; 
    &:hover  {
        color: #0a66c2;
        outline: 1px solid #0a66c2;
        background-color: #f6f8f9;
    }

}

.list{
    background-color: var(--color-background-none);
    display: block;
    padding: 8px 12px 0;
    text-transform: none;
}

.label {
    font-size: 16px;
    line-height: 20px;
    border-top: 1px solid #00000014;
    font-weight: 500;
    padding-top:12px;
}

.item {
    text-decoration: none;
    color: #00000099;
    font-size: 14px;
    padding: 8px 0;
    display: flex;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.sign_out {
    cursor: pointer;
    background: transparent;
    width: 100%;
    font-size: 16px;
    text-align: left;
    border: none;
    color: #00000099;
    border-top: 1px solid #00000014;
    padding:  12px;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}   
