.item {
    
}

.link {
    display: flex;
    flex-direction: column;
    width: 70px;
    justify-content: center;
    align-items: center;
    img{
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        width: 40px;
        height: 40px;
         
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;        }
    }
}

.name {
    word-break: break-word;
    max-width: 70px;
    text-align: center;
    margin-top: 4px;
    font-size: 12px;
    color:#00000099;
}



