.wrapper {
    padding-top: 52px;
}

.layout {
    max-width: 1128px;
    display: grid;
    grid-template-areas: "leftside main";
    grid-template-columns: minmax(200px, 5fr) minmax(0, 14fr) ;
    column-gap: 25px;
    row-gap: 25px;
    margin: 25px auto;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      padding: 0 5px;
    }
}
.container {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.header {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        font-size: 16px;
        color: #000000E6;
        display: flex;
    }
}

.network_mange {

    a { 
        display: flex;
        padding: 8px 20px;
        &:hover {
            background-color: #EEF3F8;
        }
    }
}

// Right side {

.more_btn {
    display: flex;
    border: none;
    font-size: 16px;
    color: #00000099;
    background-color: transparent;
    padding: 4px;
    &:hover {
        background-color: #EEF3F8;
    }
}

.recommended {
  display: grid;  
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 33.333%);
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 50%);
  }
}
