.menu {
    border: none;
    align-items: center;
    background: transparent;
    display: flex;

    font-size: 12px;
    font-weight: 400;
    padding: 0px 12px;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    min-height: 52px;
    min-width: 10px;
    position: relative;
    text-decoration: none;
    .menu_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon_menu {
        width: 24px;
        height: 24px;
      }
    }
    
    span {
      color: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
    }
    @media (max-width: 768px) {
      min-width: 70px;
    }
    &:active {
    span:after {
      content: "";
      transform: scaleX(1);
      border-bottom: 2px solid var(--white, #fff);
      bottom: 0;
      left: 0;
      position: absolute;
      transition: transform 0.2s ease-in-out;
      width: 100%;
      border-color: rgba(0, 0, 0, 0.9);
    }
  }

  
  
  &:hover,
  &:active {  
     span {
        color: rgba(0, 0, 0, 0.9);
      }
    
  }
  
}

.user {
  .avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
  span {
      display: flex;
      align-items: center;
  }    
  &:hover {
       .sign_out{
         align-items: center;
         display: flex;
         justify-content: center;
      }  
    }
  padding: 0 12px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  }



// sign -out

.sign_out {
    cursor: pointer;
    position: absolute;
    top: 45px;
    background: white;
    border-radius: 0 0 5px 5px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    transition-duration: 167ms;
    text-align: center;
    display: none;
}





  