.wrapper {
    padding-top: 52px;
}
  
  .layout {
    max-width: 1128px;
    display: grid;
    grid-template-areas: "leftside main rightside";
    grid-template-columns: minmax(0, 4fr) minmax(0, 12fr) minmax(300px, 7fr);
    column-gap: 25px;
    row-gap: 25px;
    margin: 25px auto;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      padding: 0 5px;
    }
}

.container {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.rightside {
    height: 80px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    h3 {
        margin-bottom: 8px;
    }
    a {
        height: 20px;
        color:#0A66C2;
        font-size: 14px;
        font-weight: 600;

        &:hover  {
            text-decoration: underline;
        }
    }
}